body {
    margin: 0px;
}
.header {
    text-align: center;
    padding: 10px;
    background: #495464;
}
.header h1 {
    margin: 0px;
    color: #e8e8e8;
}
.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
    flex-wrap: wrap;
}
.content-wrapper a {
    max-width: 180px;
    text-align: center;
    padding: 20px;
    background: #e8e8e8;
    color: #495464;
    text-decoration: none;
    font-family: Allerta;
    font-weight: bolder;
    font-size: 23px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 8px 9px 29px -11px;
}
.content-wrapper a:hover {
    animation: move-top 0.5s;
    transform: translateY(-4px);
    box-shadow: 8px 9px 29px -7px;
}

@keyframes move-top {
    0% {
        transform: translateY(0px);
        box-shadow: 8px 9px 29px -11px;
    }
    100% {
        transform: translateY(-4px);
        box-shadow: 8px 9px 29px -7px;
    }
}
